// addspot
.form, .form_login, .form_edit_user {
  background-image: image-url("nuage.jpeg");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  display:flex;
  justify-content:space-between;
  height:100vh;
  justify-content: center;
  align-items: center;
}

.form label {
  color:black;
}

.form input {
  color:black;
}

.form_login label {
  color:black;
}

.form_login input {
  color:black;
}

.form_login a {
  color:black;
  padding-left: 20px;
  text-decoration:none;
}
.form_login a:hover {
  color:black;
}

.form_login .btn{
  border-radius:6px;
  background-color: #469AE0;
  color:black;
  width:267px;
}
.form_login .btn:hover{
  border-radius:6px;
  background-color:#1a84dd;
  color:black;
}

// edituser

.form_edit_user {
  background-image: image-url("enfer.jpg");
  flex-direction:column;
  color:black;
}


.text-muted, a {
  color:black;
}

.form_edit_user h2 {
  color:black;
  opacity:0.9;
  font-size: 30px;
}

.form-edit .btn {
  border-radius:6px;
  background-color: #469AE0;
  color:black;
  width:418px;
}

.form-edit .btn:hover {
  border-radius:6px;
  background-color:#1a84dd;
  color:black;
}

.form-edit {
  position:absolute;
  top: 70px;
  opacity:0.9;
}

.form-edit .invalid-feedback {
 color:black;
}

.form_forgot .btn {
  border-radius:6px;
  background-color: #469AE0;
  color:black;
  width:406px;
}

.form_forgot .btn:hover {
  border-radius:6px;
  background-color:#1a84dd;
  color:black;
}

.form_forgot h2, .form_signup h2 {
  color:black;
}

.form_signup .btn {
  border-radius:6px;
  background-color: #469AE0;
  color:black;
  width:267px;
}

.form_signup .btn:hover {
  border-radius:6px;
  background-color:#1a84dd;
  color:black;
}
