<h3>Your bookings</h3>
<div>
  <% @bookings.each do |booking| %>
    <div>
      <%= booking.user.name %>
    </div>
    <div>
      <%= booking.spot.description %>
    </div>
    <div>
      <%= booking.spot.price %>
    </div>
  <% end %>
</div>
<%= link_to "Back to spots", index_path, method: :post %>
