<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="banner">
  <div class="banner-content">
    <h1>Last home</h1>
    <p>A spot for eternity</p>
  </div>
  <div>
    <form action='/index' method='post'>
      <input type="submit" value="Search">
    </form>
  </div>
</div>
