
<div class="banner" style="background-image: url('<%= "#{@base_url}banner.jpg" %>')">

  <div class="banner-content">
    <h1>Last home</h1>
    <p class="home-title">A spot for eternity</p>
      <div class="card-home">
        <h2 class="fylh"> Find your last home: </h2>
        <p class="fylhp"> Chose your neighbour for the eternity</p>
       <form action='/index' method='get'>

        <input type="text" name='search_content' placeholder='Occupation' class="contentsearch">
        <select class="goodev" id="good_evil" name="good_or_evil">
          <option value="Good">Good</option>
          <option value="Evil">Evil</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Search" class="btn btn-primary btnsearch">
        </form>
        <br>
        <br>
        <br>
    </div>
</div>
</body>
